<div class="content">
  <div class="row">
    <h1>Tareas</h1>

    <button
      mat-fab
      color="primary"
      aria-label="Crear tarea"
      (click)="createTask()"
    >
      <mat-icon>add</mat-icon>
    </button>
  </div>

  <table mat-table [dataSource]="tareas" class="mat-elevation-z8">
    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef>Nombre</th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <ng-container matColumnDef="fechaDeAdmision">
      <th mat-header-cell *matHeaderCellDef>Documento</th>
      <td mat-cell *matCellDef="let element">{{ element.dateTime }}</td>
    </ng-container>

    <ng-container matColumnDef="estado">
      <th mat-header-cell *matHeaderCellDef>Médico cabecera</th>
      <td mat-cell *matCellDef="let element">{{ element.status }}</td>
    </ng-container>

    <ng-container matColumnDef="usuarioAsignado">
      <th mat-header-cell *matHeaderCellDef>Contactos</th>
      //TODO
      <td mat-cell *matCellDef="let element">
        {{ element.assignedUser.name }}
      </td>
    </ng-container>

    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let row">
        <button mat-icon-button>
          <mat-icon>edit</mat-icon>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <button
          #element._id
          mat-icon-button
          [attr.data-message-id]="element._id"
          (click)="deleteTask(element._id)"
        >
          <mat-icon color="warn">delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
