<div class="nav-1">
  <mat-icon mat-dialog-close>cancel</mat-icon>
</div>
<form [formGroup]="formGroup">
  <ng-template matStepLabel>Datos de la tarea</ng-template>

  <mat-form-field class="input" appearance="fill">
    <mat-label>Nombre de la tarea</mat-label>
    <input
      matInput
      formControlName="name"
      placeholder="Ej.: Limpiar la cocina"
      autocomplete="off"
    />
  </mat-form-field>
  <mat-form-field>
    <input
      matInput
      [ngxMatDatetimePicker]="picker2"
      placeholder="Choose a date"
      formControlName="date"
    />
    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
    <ngx-mat-datetime-picker #picker2></ngx-mat-datetime-picker>
  </mat-form-field>
  <mat-form-field>
    <mat-select [(value)]="selected" placeholder="Estado">
      <mat-option *ngFor="let status of Status" [value]="status">
        {{ Status[status] }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="input" appearance="fill">
    <mat-label>Asignar usuario:</mat-label>
    <mat-select name="userService" formControlName="userService">
      <mat-option *ngFor="let user of userServiceList" [value]="user">{{
        user.name
      }}</mat-option>
    </mat-select>
  </mat-form-field>
</form>
